<!-- https://angular.io/guide/template-typecheck#disabling-type-checking-using-any -->
<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input
      #newtodoInput
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus=""
      (keyup)="todoStore.newTodoChange(newtodoInput.value)"
      (keyup.enter)="addTodo($event)"
      (keyup.escape)="resetInput(newtodoInput)"
    />
  </header>
  <main class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [hidden]="!todoStore.count()"
      #toggleall
      (click)="toggleAllTodos(!!todoStore.remaining())"
    />
    <label for="toggle-all" title="Mark all as complete">Mark all as complete</label>
    <ul [@listAnimation]="todoStore.count()" class="todo-list">
      <li
        *ngFor="let todo of todoStore.filtered(); trackBy: trackByFn"
        [class.completed]="todo.completed"
      >
        <div class="view">
          <input
            class="toggle"
            [class.editing]="todoStore.current()?.id == todo.id"
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleTodo(todo)"
          />
          <label
            #editable
            (dblclick)="editTodo(todo, editable)"
            (blur)="stopEditing(todo, editable)"
            (keydown.enter)="$event.preventDefault(); updateEditingTodo(todo, editable)"
            (keydown.escape)="stopEditing(todo, editable)"
          >
            {{ todo.title }}
          </label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </main>
  <footer class="footer" [hidden]="todoStore.count() === 0">
    <ng-container *ngIf="todoStore.remaining() as remaining">
      <span class="todo-count" [ngPlural]="remaining">
        <ng-template ngPluralCase="other">{{ remaining }} items left</ng-template>
        <ng-template ngPluralCase="=1">one item left</ng-template>
        <ng-template ngPluralCase="=0">no items left</ng-template>
      </span>
    </ng-container>
    <ul class="filters">
      <li>
        <a
          href="javascript:void(0);"
          (click)="filterTodos('ALL')"
          [ngClass]="{ selected: todoStore.filter() == 'ALL' }"
        >
          All
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="filterTodos('ACTIVE')"
          [ngClass]="{ selected: todoStore.filter() == 'ACTIVE' }"
        >
          Active
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="filterTodos('COMPLETED')"
          [ngClass]="{ selected: todoStore.filter() == 'COMPLETED' }"
        >
          Completed
        </a>
      </li>
    </ul>
    <button
      class="clear-completed"
      [disabled]="!todoStore.count()"
      (click)="removeCompletedTodos()"
      style="z-index: 3"
    >
      Clear completed ({{ todoStore.count() - todoStore.remaining() }})
    </button>
  </footer>
</section>
