<!-- https://angular.io/guide/template-typecheck#disabling-type-checking-using-any -->
<section
  class="todoapp"
  *ngrxLet="{
    todos: todos$,
    count: count$,
    filter: filter$
  } as $"
>
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus=""
      [(ngModel)]="todosService.newTodo"
      (keyup)="todosService.newTodoChange($any($event.target).value)"
      (keyup.enter)="todosService.add()"
      (keyup.escape)="todosService.newTodoClear()"
    />
  </header>
  <main class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [hidden]="!$.count"
      #toggleall
      (click)="todosService.toggleAllTodos(!toggleall.value)"
    />
    <label for="toggle-all" title="Mark all as complete">Mark all as complete</label>
    <ul [@listAnimation]="$.filter" class="todo-list">
      <li
        *ngFor="let todo of $.todos | byStatus: $.filter; trackBy: trackByFn"
        [class.completed]="todo.completed"
        [class.editing]="todosService.isEditing === todo.id"
      >
        <div class="view">
          <input
            class="toggle"
            [class.editing]="todosService.isEditing"
            type="checkbox"
            [checked]="todo.completed"
            (change)="todosService.toggle(todo)"
          />
          <label (dblclick)="todosService.editTodo(todo, editInput)">{{ todo.title }}</label>
          <button class="destroy" (click)="todosService.removeTodo(todo)"></button>
        </div>
        <input
          class="edit"
          [hidden]="!todosService.isEditing"
          [value]="todo.title"
          #editInput
          (blur)="todosService.stopEditing(todo, editInput.value)"
          (keyup.enter)="todosService.updateEditingTodo(todo, editInput.value)"
          (keyup.escape)="todosService.cancelEditingTodo(todo)"
        />
      </li>
    </ul>
  </main>
  <footer
    class="footer"
    [hidden]="$.count === 0"
    *ngrxLet="($.todos | byStatus: 'ACTIVE')?.length; let remainig"
  >
    <ng-container *ngIf="remainig">
      <span class="todo-count" [ngPlural]="remainig">
        <ng-template ngPluralCase="other">{{ remainig }} items left</ng-template>
        <ng-template ngPluralCase="=1">one item left</ng-template>
        <ng-template ngPluralCase="=0">no items left</ng-template>
      </span>
    </ng-container>
    <ul class="filters">
      <li>
        <a
          href="javascript:void(0);"
          (click)="todosService.filterTodos('ALL')"
          [ngClass]="{ selected: $.filter == 'ALL' }"
        >
          All
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="todosService.filterTodos('ACTIVE')"
          [ngClass]="{ selected: $.filter == 'ACTIVE' }"
        >
          Active
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="todosService.filterTodos('COMPLETED')"
          [ngClass]="{ selected: $.filter == 'COMPLETED' }"
        >
          Completed
        </a>
      </li>
    </ul>
    <button
      class="clear-completed"
      [disabled]="!$.todos?.length || remainig === $.todos?.length"
      (click)="todosService.removeCompletedTodos()"
      style="z-index: 3"
    >
      Clear completed ({{ $.todos?.length - remainig }})
    </button>
  </footer>
</section>
