<!-- https://angular.io/guide/template-typecheck#disabling-type-checking-using-any -->
<section
  class="todoapp"
  *ngxLet="{
    todos: todos$ | asyncNoZone,
    count: count$ | async,
    filter: filter$ | async
  } as $"
>
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus=""
      [(ngModel)]="newTodo"
      (keyup)="newTodoChange($any($event.target).value)"
      (keyup.enter)="!isAddTodoDisabled && addTodo()"
      (keyup.escape)="newTodoClear()"
    />
  </header>
  <main class="main">
    <!-- <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      *ngIf="true"
      #toggleall
      [checked]="(filter$ | async) === 'ALL'"
      (click)="filterTodos('')"
    /> -->
    <ul [@listAnimation]="$.todos?.length" class="todo-list">
      <li
        *ngFor="let todo of $.todos | byStatus: $.filter; trackBy: trackByFn"
        [class.completed]="todo.completed"
        [class.editing]="isEditing === todo.id"
      >
        <div class="view">
          <input
            class="toggle"
            [class.editing]="isEditing"
            type="checkbox"
            [checked]="todo.completed"
            (change)="toggleTodo(todo)"
          />
          <label (dblclick)="editTodo(todo, editInput)">{{ todo.title }}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
        <input
          class="edit"
          [hidden]="!isEditing"
          [value]="todo.title"
          #editInput
          (blur)="stopEditing(todo, editInput.value)"
          (keyup.enter)="updateEditingTodo(todo, editInput.value)"
          (keyup.escape)="cancelEditingTodo(todo)"
        />
      </li>
    </ul>
  </main>
  <footer
    class="footer"
    [hidden]="$.count === 0"
    *ngxLet="{
      remainig: ($.todos | byStatus: 'ACTIVE')?.length
    } as $$"
  >
    <ng-container *ngIf="showRemainig($$.remainig)">
      <span class="todo-count" [ngPlural]="$$.remainig">
        <ng-template ngPluralCase="other">{{ $$.remainig }} items left</ng-template>
        <ng-template ngPluralCase="=1">one item left</ng-template>
        <ng-template ngPluralCase="=0">no items left</ng-template>
      </span>
    </ng-container>
    <ul class="filters">
      <li>
        <a
          href="javascript:void(0);"
          (click)="filterTodos('ALL')"
          [ngClass]="{ selected: $.filter == 'ALL' }"
        >
          All
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="filterTodos('ACTIVE')"
          [ngClass]="{ selected: $.filter == 'ACTIVE' }"
        >
          Active
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="filterTodos('COMPLETED')"
          [ngClass]="{ selected: $.filter == 'COMPLETED' }"
        >
          Completed
        </a>
      </li>
    </ul>
    <button
      class="clear-completed"
      [disabled]="$.todos?.length - $$.remainig < $.todos?.length"
      (click)="removeCompletedTodos()"
      style="z-index: 3"
    >
      Clear completed ({{ $.todos?.length - $$.remainig }})
    </button>
  </footer>
</section>
