<section
  class="todoapp"
  *ngrxLet="{
    todos: todos$,
    count: count$,
    filter: filter$,
  } as $"
>
  <header class="header">
    <h1>todos</h1>

    <input
      class="new-todo"
      placeholder="What needs to be done?"
      [(ngModel)]="todosService.newTodo"
      (keyup.enter)="todosService.addTodo()"
      (keyup.escape)="todosService.newTodo = ''"
    />
  </header>
  <main class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [hidden]="!$.count"
      #toggleall
      (click)="todosService.toggleAllTodos(!toggleall.value)"
    />
    <label for="toggle-all" title="Mark all as complete">Mark all as complete</label>
    <ul [@listAnimation]="$.filter" class="todo-list">
      @for (todo of $.todos | byStatus: $.filter; track trackByFn($index, todo)) {
        <li
          [class.completed]="todo.completed"
          (contextmenu)="showContextMenu($event, todo)"
        >
          <div class="view">
            <input
              class="toggle"
              [class.editing]="todosService.current?.id === todo.id"
              type="checkbox"
              [checked]="todo.completed"
              (change)="todosService.toggleTodo(todo)"
            />
            <label
              [class.editing]="todosService.current?.id === todo.id"
              (dblclick)="todosService.setEditinigTodo(todo, $event, true)"
              (blur)="todosService.setEditinigTodo(todo, $event, false)"
              (keyup)="$event.preventDefault()"
              (keydown.escape)="todosService.setEditinigTodo(todo, $event, false)"
              (keydown.enter)="todosService.updateEditingTodo(todo, $event)"
            >
              {{ todo.title }}
            </label>
            <button class="destroy" (click)="todosService.removeTodo(todo)"></button>
          </div>
        </li>
      }
    </ul>
  </main>
  <footer
    class="footer"
    [hidden]="$.count === 0"
    *ngrxLet="($.todos | byStatus: 'ACTIVE' : true)?.length; let remainig"
  >
    @if (remainig) {
      <span class="todo-count" [ngPlural]="remainig">
        <ng-template ngPluralCase="other">{{ remainig }} items left</ng-template>
        <ng-template ngPluralCase="=1">one item left</ng-template>
        <ng-template ngPluralCase="=0">no items left</ng-template>
      </span>
    }
    <ul class="filters">
      <li>
        <a href="javascript:void(0);" (click)="todosService.sortTodos('desc')">&#8675;</a>
      </li>
      <li>
        <a href="javascript:void(0);" (click)="todosService.sortTodos('asc')">&#8673;</a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="todosService.filterTodos('ALL')"
          [ngClass]="{ selected: $.filter === 'ALL' }"
        >
          All
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="todosService.filterTodos('ACTIVE')"
          [ngClass]="{ selected: $.filter === 'ACTIVE' }"
        >
          Active
        </a>
      </li>
      <li>
        <a
          href="javascript:void(0);"
          (click)="todosService.filterTodos('COMPLETED')"
          [ngClass]="{ selected: $.filter === 'COMPLETED' }"
        >
          Completed
        </a>
      </li>
    </ul>
    <button
      class="clear-completed"
      [disabled]="!$.count || remainig === $.count"
      (click)="todosService.removeCompletedTodos()"
      style="z-index: 3"
    >
      Clear completed ({{ $.count - remainig }})
    </button>
  </footer>
</section>

<dialog [open]="isDialogOpen" class="todo-dialog">
  <header>Attachments:</header>
  @if (selectedTodo?._attachments) {
    <ul>
      @for (attachment of selectedTodo._attachments | keyvalue; track attachment) {
        <li>
          <a
            href="javascript:void(0);"
            (click)="todosService.downloadAttachment(selectedTodo.id, attachment.key)"
          >
            {{ attachment.key }} - {{ attachment.value.type }}
          </a>
          &nbsp;
          <button
            type="button"
            class="destroy"
            (click)="
              todosService.removeAttachment(selectedTodo.id, attachment.key);
              isDialogOpen = false
            "
          >
            🗙
          </button>
        </li>
      }
    </ul>
  }
  <form method="dialog" (ngSubmit)="selectedTodo = undefined; isDialogOpen = false">
    <button type="button" (click)="fileInput.click()">Upload attachment</button>
    <input
      type="file"
      accept=".txt"
      #fileInput
      style="display: none"
      (change)="
        todosService.uploadAttachment(selectedTodo.id, $any($event.target).files[0]);
        isDialogOpen = false
      "
    />
    <button>Close Dialog</button>
  </form>
</dialog>
