<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>

    <mat-sidenav #sidenav mode="push">
      <div class="branding"><img [src]="logo" />
        <span data-testid="title">{{ 'Title short'}}</span></div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()" [routerLink]="[item.link]"
          routerLinkActive="active">
          {{item.label}}
        </a>
        <a mat-list-item href="https://github.com/voznik" target="_blank">
          Github
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="wrapper">

      <div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">
        <mat-toolbar color="primary">
          <button mat-icon-button class="d-md-none" (click)="sidenav.open()">
            <fa-icon icon="bars"></fa-icon>

          </button>

          <span class="example-spacer"></span>

          <span class="d-none d-md-inline">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{item.label}}
            </button>
          </span>

          <button mat-icon-button (click)="toggleTheme()" class="d-none d-sm-inline">
            <fa-icon icon="cog"></fa-icon>
          </button>

        </mat-toolbar>
      </div>
      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
        <router-outlet #o="outlet"></router-outlet>
      </div>

      <div class="footer">
        <div class="row">
          <div class="col-12 signature">
            &#169; <span class="year" data-testid="footer-year">{{year}}</span> - voznik
            <br class="d-block d-sm-none">
            <a [matTooltip]="'anms.footer.changelog'"
               matTooltipPosition="before"
               href="https://github.com/voznik">
              <fa-icon icon="rocket"></fa-icon>
              {{version}} <span *ngIf="!isProd">[{{envName}}]</span>
            </a>
          </div>
        </div>
      </div>

    </div>

  </mat-sidenav-container>

</div>
