$black: black;
@import 'styles-variables';
@import 'styles-reset';

@import '~@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/black-theme.scss';


// @import '~gridlex';
// @import '../node_modules/bootstrap/scss/';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import 'styles-reset.scss-theme';

@import 'app/app.component.scss-theme';
@import 'app/shared/big-input/big-input.component.scss-theme';
@import 'app/todos/components/todos-container.component.scss-theme';

@mixin custom-components-theme($theme) {
  @include anms-styles-reset-theme($theme);
  @include anms-app-component-theme($theme);
  @include anms-big-input-component-theme($theme);
  @include anms-todos-container-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($anms-theme);
  @include custom-components-theme($anms-theme);
}

.black-theme {
  @include angular-material-theme($anms-black-theme);
  @include custom-components-theme($anms-black-theme);
}

